@import url("http://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17632,17634,17638,17628,17626");

:root {
  --color-primary: #ffffff;
  --color-secundary: #ecf7fb;
  --color-terceary: #316aff;
  --color-text-primary: #0e162b;
  --color-text-secundary: #676a73;
  --color-cuaternary: #face5f;
  --font-body: "Sofia Pro", sans-serif;
  --padding-container: 3.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--font-body);
  max-width: 1440px !important;
  overflow-x: hidden !important;
  margin: 0 auto !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--color-text-secundary);
  font-size: 1.6rem;
  line-height: 22.4px;
  font-weight: 400;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*---------------------Titles-------------------------------*/
@mixin title {
  color: var(--color-text-primary);
}

.title {
  &__h1 {
    @include title;
    font-size: 5.4rem;
    line-height: 54px;
    font-weight: 600;
  }
  &__h2 {
    @include title;
    font-size: 3.6rem;
    line-height: 36px;
    font-weight: 700;
  }
  &__h3 {
    @include title;
    font-size: 2.4rem;
    line-height: 24px;
    font-weight: 700;
  }

  &__h4 {
    @include title;
    font-size: 1.6rem;
    line-height: 16px;
    font-weight: 600;
  }
}

/*---------------------------Button-------------------------*/
@mixin btn {
  background-color: var(--color-terceary);
  border: none;
  width: 21.4rem;
  height: 4.8rem;
  border-radius: 5rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

@mixin span {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-primary);
}

.btn {
  &__header {
    display: flex;
    align-items: center;
    @include btn;

    img {
      width: 2.4rem;
    }

    span {
      @include span;
      padding-right: 0.8rem;
    }
  }

  &__learning {
    @include btn;

    span {
      @include span;
    }
  }

  &__onlineCurso {
    @include btn;

    span {
      @include span;
    }
  }
}

/*----------------------------Card--------------------------*/
@mixin card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 32rem;
  width: 35.6rem;
  background-color: var(--color-secundary);
  border-radius: 2.02rem;
}
.card {
  &__img {
    img {
      padding: 1.5rem;
      border-radius: 0.7rem;
      background-color: #daeef5;
      margin: 3rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    margin: 0 3rem 3rem;

    h3 {
      line-height: 35px;
    }
  }
}

@import "header.scss";
@import "course.scss";
@import "service.scss";
@import "interface.scss";
@import "learning.scss";
@import "onlineCurso.scss";
@import "footer.scss";

//Buscar fallas de desbordamiento
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  max-width: 1200px !important;
  margin: 0 auto !important;
} */
