/*---------------------------Header-------------------------*/
.header {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: 1440px;
    width: 100%;
    z-index: 50;
    background-color: var(--color-secundary);
    padding: 2rem var(--padding-container);

    i {
      font-size: 1.6rem;
      cursor: pointer;
    }

    .nav__menu--icons {
      width: 53rem;
      display: flex;
      justify-content: flex-end;

      a {
        display: none;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 400;
        color: var(--color-terceary);
        padding: 1.2rem 2.4rem;
        border: 1px solid;
        border-radius: 5rem;
      }
    }

    &__menu {
      background-color: var(--color-secundary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 48px;

      &--content {
        /* height: 0; */
        /* width: 0; */
        overflow: hidden;

        ul {
          display: flex;
          gap: 34.25px;

          li {
            a {
              font-size: 1.6rem;
              line-height: 22px;
              font-weight: 400;
              color: var(--color-text-primary);
            }

            &:first-child a {
              color: var(--color-terceary);
            }
          }
        }
      }

      /* .toggle__menu {
        height: 291.25px;
        opacity: 1;
        transition: ease-in-out all 0.5s;
      } */
    }
  }

  &__info {
    padding: 8.7rem var(--padding-container) 4.1rem;

    &--text {
      padding-bottom: 1.8rem;
      img {
        width: 4rem;
        padding: 0.8rem;
        border-radius: 100%;
        background-color: var(--color-primary);
      }
    }
  }

  &__title {
    padding: 1.8rem 0;

    h1 {
      padding-bottom: 0.8rem;
    }
  }

  &__figure {
    padding-left: 3.6rem;
    .figure__container {
      padding: 1.2rem 0;
      width: 38.5rem;
      height: 43.8rem;
      margin: 0 auto;
      position: relative;
    }

    .figure {
      @mixin caja {
        box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.1);
        background-color: var(--color-primary);
        border-radius: 0.8rem;
        padding: 2rem;
      }

      &__description {
        @include caja;
        width: 30rem;
        height: 5.8rem;
        display: flex;
        position: absolute;
        top: 11px;
        z-index: 30;

        p {
          font-size: 1.6rem;
          line-height: 16px;
          font-weight: 600;
          width: 24.2rem;
          padding-left: 1.2rem;
        }
      }

      &__img {
        background: url("../img/header-1.png") no-repeat;
        background-size: cover;
        height: 35.8rem;
        width: 29.6rem;
        position: absolute;
        left: calc(95.5px - 42px);
        top: 40px;
        z-index: 20;
      }

      &__card {
        @include caja;
        display: flex;
        position: absolute;
        z-index: 30;
        width: 25.8rem;
        height: 11.3rem;
        top: 246px;
        gap: 1.2rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 100%;
        }

        .card {
          h4 {
            width: 9.7rem;
            padding-bottom: 0.6rem;
          }
          p {
            line-height: 16.8px;
            font-size: 1.2rem;
            width: 16.6rem;
          }
        }
      }

      &__decoration {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        left: calc(237px - 42px);
        top: 242px;
        z-index: 10;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;

    .nav {
      background-color: var(--color-primary);
      padding: 0;

      &__menu {
        padding: 0 19.3rem 0 12rem;
        height: 9.6rem;
        width: 91rem;
        align-items: center;
      }

      .nav__menu--icons {
        padding-right: 12rem;

        i {
          display: none;
        }
        a {
          display: block;
        }
      }
    }

    &__info {
      width: 91rem;
      background-color: var(--color-secundary);
      padding: 20.7rem 30.4rem 20.7rem 12rem;

      &--text {
        padding-bottom: 3.6rem;
      }
    }

    &__title {
      h1 {
        font-size: 8rem;
        line-height: 80px;
        font-weight: 800;
      }
      h2 {
        font-size: 5.4rem;
        line-height: 54px;
        font-weight: 600;
      }
    }

    &__figure {
      padding: 0;
      width: 59rem;
      position: absolute;

      .figure {
        &__container {
          margin: 0;
          padding: 0;
          top: 108px;
          left: 630px;
          height: 65.4rem;
          width: 69rem;
        }

        &__description {
          right: 344px;
        }

        &__img {
          width: 46.7rem;
          height: 56.4rem;
          left: 146px;
          right: 0;
          bottom: 0;
        }

        &__decoration {
          top: 470px;
          left: 506px;
        }

        &__card {
          top: 398px;
        }
      }
    }
  }
}
