/*----------------------------Interface---------------------*/

.interface__container {
  .interface {
    &__content {
      padding: 4rem 0;

      h2 {
        text-align: center;
        padding-bottom: 4rem;
        font-size: 4.1rem;
        line-height: 42px;
      }
    }

    &__info {
      padding: 0 var(--padding-container);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
    }

    &__card {
      @include card;
    }
  }
}
