.interface__container {
  padding: 4rem 0;

  .interface__title {
    text-align: center;
    width: 34.7rem;
    margin: 0 auto;
    padding-bottom: 4rem;
    font-size: 4.1rem;
    line-height: 42px;
  }

  .interface__content {
    padding: 0 var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    .interface__card {
      @include card;
    }
  }
}
