.learning__container {
  .learning {
    &__content {
      padding: 4rem var(--padding-container);

      &--info {
        h2 {
          text-align: center;
          font-size: 4.2rem;
          line-height: 4.2rem;
        }
        p {
          padding: 1.8rem 0;
        }
      }

      &--list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 2.4rem;

        div {
          display: flex;
          align-items: center;
          gap: 12px;

          img {
            border-radius: 100%;
            padding: 0.8rem;
            background-color: var(--color-secundary);
          }
          span {
            line-height: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
    }

    &__figure {
      height: 47rem;

      &--container {
        position: relative;
        height: inherit;
        width: 39.4rem;
        margin: 0 auto;
      }
    }

    &__img {
      background: url("../img/girl-write.png") no-repeat;
      background-size: cover;
      height: 43.2rem;
      width: 35.8rem;
      position: absolute;
      top: 0;
      left: 36px;
      z-index: 20;
      border-radius: 1.6rem;
    }

    &__decoration {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: absolute;
      left: 7px;
      bottom: 9px;
      z-index: 10;
    }
  }
}
