/*-----------------------OnlineCurso--------------------*/
.onlineCurso__flex {
  background-color: var(--color-secundary);
  padding-bottom: 4rem;

  h2 {
    text-align: center;
    padding: 4rem var(--padding-container) 3rem;
    font-size: 4.2rem;
    line-height: 42px;
  }

  .onlineCurso__img1 {
    background: url("../img/Rectangle-9.png") no-repeat;
    height: 230px;
  }

  .onlineCurso__content--img1 {
    background: url("../img/avatar-imagen-user-1.png") no-repeat;
    height: 4rem;
    width: 4rem;
    background-size: cover;
    border-radius: 100%;
  }

  .onlineCurso__img2 {
    background: url("../img/Rectangle-10.png") no-repeat;
    height: 230px;
  }

  .onlineCurso__content--img2 {
    background: url("../img/avatar-imagen-user-2.png") no-repeat;
    height: 4rem;
    width: 4rem;
    background-size: cover;
    border-radius: 100%;
  }

  .onlineCurso__img3 {
    background: url("../img/Rectangle-11.png") no-repeat;
    height: 230px;
  }

  .onlineCurso__content--img3 {
    background: url("../img/avatar-imagen-user-3.png") no-repeat;
    height: 4rem;
    width: 4rem;
    background-size: cover;
    border-radius: 100%;
  }

  .onlineCurso__container {
    display: flex;
    padding: 0 var(--padding-container);
    flex-wrap: wrap;
    gap: 22px;

    .onlineCurso {
      width: 35.455rem;
      margin: 0 auto;

      &__card {
        border-radius: 1.8rem;
        overflow: hidden;
        background-color: var(--color-primary);
      }

      &__info {
        padding: 2.2rem;
      }

      &__content {
        padding-bottom: 1.4rem;
        border-bottom: 1px solid var(--color-text-secundary);

        &--info {
          display: flex;
          justify-content: space-between;

          span {
            color: var(--color-text-secundary);
            line-height: 15px;
            font-size: 1.1rem;
            font-weight: 600;

            &:first-child {
              text-transform: uppercase;
            }
          }
        }

        &--footer {
          padding-top: 1.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            gap: 7px;

            span {
              line-height: 20px;
              font-size: 1.4rem;
              font-weight: 400;
              color: var(--color-terceary);
            }
          }

          span {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 20px;
          }
        }

        h4 {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 25px;
          padding: 1.8rem 0;
        }
      }
    }
  }

  .btn__onlineCurso {
    display: block;
    width: 16rem;
    margin: 1.8rem auto 0;
  }
}
