/*-------------------------Service-------------------------*/
.service__container {
  .service {
    &__content {
      padding: 4rem 0;

      h2 {
        text-align: center;
        padding-bottom: 4rem;
      }
    }

    &__info {
      padding: 0 var(--padding-container);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;

      p {
        font-size: 2rem;
        line-height: 28px;
      }

      &__::-webkit-scrollbar {
        display: none;
      }
    }

    &__card {
      @include card;
    }
  }

  @media screen and(min-width: 1440px) {
    .service {
      &__content {
        h2 {
          font-size: 5.4rem;
          line-height: 54px;
          font-weight: 600;
        }
      }

      &__info {
        padding-left: 12rem;
        padding-right: 12rem;
      }
      &__card {
        width: 28.2rem;
        height: 25.4rem;

        .card {
          &__img {
            img {
              height: 7.2rem;
              width: 7.2rem;
              padding: 1.2rem;
              margin: 2.4rem;
            }
          }

          &__info {
            margin: 0 2.4rem 2.4rem;
            gap: 1.6rem;

            p {
              font-size: 1.6rem;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
